$primary-color-dark: #114B5F;
$primary-color: #028090;
$primary-text-color: #456990;
$accent-color: #F45B69;

@mixin transition($params...) {
  transition: $params;
  -moz-transition: $params;
  -webkit-transition: $params;
}

* {
  margin: 0;
  padding: 0;
}

/* Bootstrap Overrides */
.navbar-default {
  background-color: $primary-color;
  border: 0;
}
.navbar-nav {
  a.active {
    background-color: $primary-color-dark;
  }
}
.navbar-default .navbar-nav>li>a:focus {
  background-color: $primary-color-dark;
}
.navbar-default .navbar-nav>li>a {
  @include transition(background .25s ease-in-out, box-shadow .25s ease-in-out);
}
.navbar-default .navbar-nav>li>a:hover {
  box-shadow: 0 2px 0 $primary-color-dark;
  background-color: $primary-color-dark;
  opacity: 10;
}
